<%- include('includes/header')%>
<body>
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <nav class="shelf">
    <a class="book home-page">Home</a>
    <a class="book about-us">Book Bazaar</a>
    <a class="book contact">Signup</a>
    <a class="book faq">Login</a>

    <span class="book not-found"></span>

    <span class="door left"></span>
    <span class="door right"></span>
  </nav>
  <h1>200 OK</h1>
  <p>Sell any book, 24 hours, wanna try?</p>
</body>

<%- include('includes/footer')%>
