<%- include('includes/header')%>
<body>
  <div>
    <div>All Products</div>
    <div>hello, <%=member.memberNick%></div>
    <% users.map((ele, index) => { %> 
        <p><%=ele.memberNick%></p>
    <% })%> 
  </div>
</body>
<%- include('includes/footer')%>
