.products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ef443b;
}

.products-container .navigation .nav .nav-link {
  color: white;
  font-family: monospace;
  font-size: 24px;
}
.products-container .navigation .nav .nav-link:hover {
  color: black;
}

.products-container .navigation .nav-item {
  cursor: pointer;
}
