.products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ef443b;
}

.products-container .navigation .nav .nav-link {
  color: white;
  font-family: monospace;
  font-size: 24px;
}
.products-container .navigation .nav .nav-link:hover {
  color: black;
}

.products-container .navigation .nav-item {
  cursor: pointer;
}

.product-table {
  margin: 20px 0;
}

.product-book-frame .half-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.product-book-frame .long-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.new-book-txt {
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}
input {
  width: 78%;
  border: 1px solid #7b7575;
  border-radius: 10px;
  padding: 4px;
}
select {
  border: 1px solid #7b7575;
  border-radius: 10px;
  padding: 4px;
}
